[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

falcon = "*"
falcon-auth = "*"
sqlalchemy = "*"
toml = "*"


[dev-packages]

gunicorn = "*"
pylint = "*"


[requires]

python_version = "3.6"